<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656596007531-6vegogqbqvokj3uukpj3vvsaos8lra4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656596007531-6vegogqbqvokj3uukpj3vvsaos8lra4v</string>
	<key>API_KEY</key>
	<string>AIzaSyBbcN5kZd4HwhBLWwB3VPtJwhXgobItbfY</string>
	<key>GCM_SENDER_ID</key>
	<string>656596007531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bartalfutarFlutter</string>
	<key>PROJECT_ID</key>
	<string>bkk-svelte</string>
	<key>STORAGE_BUCKET</key>
	<string>bkk-svelte.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656596007531:ios:d68e344bf55c3ec4168f2e</string>
</dict>
</plist>